<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-3"></div>
  <div class="ui-g-12 ui-md-10 ui-lg-6">

    <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
      <p-panel header="Alta de Expediente ">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Numero *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="number" formControlName="numero" placeholder="Ingrese numero" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="!userform.controls['numero'].valid&&userform.controls['numero'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Año *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="number" formControlName="anio" placeholder="Ingrese año" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="!userform.controls['anio'].valid&&userform.controls['anio'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Fecha *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="date" formControlName="fecha" placeholder="Ingrese fecha" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="!userform.controls['fecha'].valid&&userform.controls['fecha'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Tema *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" formControlName="tema" placeholder="Ingrese tema" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="!userform.controls['tema'].valid&&userform.controls['tema'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Fojas *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="number" formControlName="fojas" placeholder="Ingrese fojas" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="!userform.controls['fojas'].valid&&userform.controls['fojas'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Iniciador *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" formControlName="iniciador" placeholder="Ingrese iniciador" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="!userform.controls['iniciador'].valid&&userform.controls['iniciador'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Direccion *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" formControlName="direccion" placeholder="Ingrese direccion" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="!userform.controls['direccion'].valid&&userform.controls['direccion'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Caratula *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" formControlName="caratula" placeholder="Ingrese caratula" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="!userform.controls['caratula'].valid&&userform.controls['caratula'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Tipo *:
            </div>
            <div class="ui-grid-col-6">
              <p-selectButton [options]="types" formControlName="tipo"></p-selectButton>
            </div>

            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="!userform.controls['tipo'].valid&&userform.controls['tipo'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>

          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-6">
              <button pButton type="submit" label="Agregar" [disabled]="!userform.valid"></button>
            </div>
            <div class="ui-grid-col-4"></div>
          </div>

        </div>
      </p-panel>
    </form>

  </div>

  <div class="ui-g-12 ui-md-4 ui-lg-3"></div>
</div>